In [66]:
# Import dependencies
import pandas as pd

In [67]:
# Import csv
vine_df = pd.read_csv('vine_table.csv')

In [68]:
# print Vine DataFrame
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1QX6706ZWJ1P5,5,0,0,N,Y
1,R3QWMLJHIW6P37,5,0,0,N,Y
2,R14Z1VR1N0Z9G6,5,1,1,N,Y
3,R25ZRJL0GH0U0,2,0,0,N,Y
4,R3837KYH7AZNIY,4,0,1,N,Y
...,...,...,...,...,...,...
85976,R1NUYN39WEVD9X,5,96,98,N,N
85977,RD17SQQ58L34O,5,46,48,N,N
85978,R30DX2RCMIKQ90,5,31,34,N,N
85979,R1O8C9XEYHQUIH,2,38,41,N,N
85980,R1WM4Y8G4DPHTL,5,19,21,N,N

In [69]:
# Filter reviews on total votes greater than 20
vine_votes_df = vine_df[vine_df['total_votes'] >=20]

In [70]:
# Print DataFrame
vine_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
884,R2PT2X8FMYFCV3,5,39,41,N,Y
917,RGCUQSH80SYY7,1,36,47,N,N
939,R3E6EI073KP0AL,2,21,36,N,Y
947,R3MYTXW7B4Z6YW,4,687,711,N,Y
1211,R2WMF1IWN5ZYO4,5,18,24,N,Y
...,...,...,...,...,...,...
85976,R1NUYN39WEVD9X,5,96,98,N,N
85977,RD17SQQ58L34O,5,46,48,N,N
85978,R30DX2RCMIKQ90,5,31,34,N,N
85979,R1O8C9XEYHQUIH,2,38,41,N,N
85980,R1WM4Y8G4DPHTL,5,19,21,N,N

In [71]:
# Calculate percentage of helpful votes based on total votes
votes_calc = [vine_votes_df["helpful_votes"]/vine_votes_df["total_votes"] * 100]
votes_calc

[884      95.121951
 917      76.595745
 939      58.333333
 947      96.624473
 1211     75.000000
            ...
 85976    97.959184
 85977    95.833333
 85978    91.176471
 85979    92.682927
 85980    90.476190
 Length: 3414, dtype: float64]

In [72]:
# Create additional column and add calculation
vine_votes_df.insert(6, "votes_calc", (vine_votes_df["helpful_votes"]/vine_votes_df["total_votes"] * 100), True)

In [73]:
vine_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,votes_calc
884,R2PT2X8FMYFCV3,5,39,41,N,Y,95.121951
917,RGCUQSH80SYY7,1,36,47,N,N,76.595745
939,R3E6EI073KP0AL,2,21,36,N,Y,58.333333
947,R3MYTXW7B4Z6YW,4,687,711,N,Y,96.624473
1211,R2WMF1IWN5ZYO4,5,18,24,N,Y,75.000000
...,...,...,...,...,...,...,...
85976,R1NUYN39WEVD9X,5,96,98,N,N,97.959184
85977,RD17SQQ58L34O,5,46,48,N,N,95.833333
85978,R30DX2RCMIKQ90,5,31,34,N,N,91.176471
85979,R1O8C9XEYHQUIH,2,38,41,N,N,92.682927
85980,R1WM4Y8G4DPHTL,5,19,21,N,N,90.476190

In [75]:
# Create new DataFrame with filtered results based on percentage over 50%
filtered_vine_votes_df = vine_votes_df[vine_votes_df['votes_calc'] >=50]

In [76]:
filtered_vine_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,votes_calc
884,R2PT2X8FMYFCV3,5,39,41,N,Y,95.121951
917,RGCUQSH80SYY7,1,36,47,N,N,76.595745
939,R3E6EI073KP0AL,2,21,36,N,Y,58.333333
947,R3MYTXW7B4Z6YW,4,687,711,N,Y,96.624473
1211,R2WMF1IWN5ZYO4,5,18,24,N,Y,75.000000
...,...,...,...,...,...,...,...
85976,R1NUYN39WEVD9X,5,96,98,N,N,97.959184
85977,RD17SQQ58L34O,5,46,48,N,N,95.833333
85978,R30DX2RCMIKQ90,5,31,34,N,N,91.176471
85979,R1O8C9XEYHQUIH,2,38,41,N,N,92.682927
85980,R1WM4Y8G4DPHTL,5,19,21,N,N,90.476190

In [77]:
# Create new DataFrame with filtered results over 50% and review is paid
vine_filtered_vine_votes_df = filtered_vine_votes_df[filtered_vine_votes_df['vine'] == 'Y']
vine_filtered_vine_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,votes_calc
32351,R3R2RHQWEKX5NL,5,81,89,Y,N,91.011236
32362,R1RZ4JZO8DAP7H,3,200,227,Y,N,88.105727
32557,RQ94HI0WM8KIG,5,174,188,Y,N,92.553191

In [78]:
# Create new DataFrame with filtered results over 50% and review is not paid
no_vine_filtered_vine_votes_df = filtered_vine_votes_df[filtered_vine_votes_df['vine'] == 'N']
no_vine_filtered_vine_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,votes_calc
884,R2PT2X8FMYFCV3,5,39,41,N,Y,95.121951
917,RGCUQSH80SYY7,1,36,47,N,N,76.595745
939,R3E6EI073KP0AL,2,21,36,N,Y,58.333333
947,R3MYTXW7B4Z6YW,4,687,711,N,Y,96.624473
1211,R2WMF1IWN5ZYO4,5,18,24,N,Y,75.000000
...,...,...,...,...,...,...,...
85976,R1NUYN39WEVD9X,5,96,98,N,N,97.959184
85977,RD17SQQ58L34O,5,46,48,N,N,95.833333
85978,R30DX2RCMIKQ90,5,31,34,N,N,91.176471
85979,R1O8C9XEYHQUIH,2,38,41,N,N,92.682927
85980,R1WM4Y8G4DPHTL,5,19,21,N,N,90.476190

In [79]:
# Count for total reviews
index = vine_df.index
number_of_rows = len(index)
print(number_of_rows)

85981

In [87]:
# Create DataFrame for Vine reviews
vine_paid_df = vine_df[vine_df['vine']=='Y']
vine_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
17581,R3EKQCOSRD87C5,5,0,0,Y,N
19183,RJCBWCZR4NNSZ,5,0,0,Y,N
19478,R1Q51GXKUZ5476,5,0,0,Y,N
19835,R2H37HMA4GYC6P,4,0,0,Y,N
19934,R1D1JCHS7J9TYJ,5,0,0,Y,N
19981,RALG7GNUS74W,5,0,0,Y,N
20031,R12TGFMSCAR7P1,5,1,1,Y,N
20141,RNKAFX7EC8ABA,5,0,0,Y,N
20168,R1M8X0LY2XVPXN,5,0,0,Y,N
20221,RE4JGQ8BYAPI1,5,0,0,Y,N
20236,R3RD517WVBE5PD,5,1,1,Y,N
20315,R2UZXZJDPEO1GC,5,0,0,Y,N
20358,R1AD9BIK2CNGPA,5,0,0,Y,N
20468,REJDK05IQDG5S,5,0,0,Y,N
20501,R1A7ZXYQTUGMIP,5,1,1,Y,N
20522,R1WM9DG0TAGAL0,5,0,0,Y,N
20567,R1P46X5Z539I6I,5,0,0,Y,N
20568,R9WPYXXRIQ1U1,5,0,0,Y,N
20577,RWL8UK8HAOQEZ,5,0,0,Y,N
20583,R3BZ0B0Q9GAVUL,5,1,2,Y,N
20592,R16VTW9GID26FK,4,0,0,Y,N
20593,R2G5YNUSO34S1U,4,0,0,Y,N
20605,R23Y7XH5051WQ1,5,0,0,Y,N
20611,R3SYQTHHKZ77BZ,5,0,0,Y,N
20628,R1KICWW47H98MO,5,0,0,Y,N
20647,R2ZTV000HIDVGS,4,1,1,Y,N
30926,R8UGQOURRNBC1,2,5,9,Y,N
31679,R1P95D7YZN1M1J,2,0,1,Y,N
31780,R2X1NK7HVAK0OX,3,0,2,Y,N
32351,R3R2RHQWEKX5NL,5,81,89,Y,N
32362,R1RZ4JZO8DAP7H,3,200,227,Y,N
32557,RQ94HI0WM8KIG,5,174,188,Y,N

In [89]:
# Count for total reviews
index = vine_paid_df.index
number_of_rows = len(index)
print(number_of_rows)

32

In [88]:
# Create DataFrame for Non-Vine reviews
vine_not_paid_df = vine_df[vine_df['vine']=='N']
vine_not_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1QX6706ZWJ1P5,5,0,0,N,Y
1,R3QWMLJHIW6P37,5,0,0,N,Y
2,R14Z1VR1N0Z9G6,5,1,1,N,Y
3,R25ZRJL0GH0U0,2,0,0,N,Y
4,R3837KYH7AZNIY,4,0,1,N,Y
...,...,...,...,...,...,...
85976,R1NUYN39WEVD9X,5,96,98,N,N
85977,RD17SQQ58L34O,5,46,48,N,N
85978,R30DX2RCMIKQ90,5,31,34,N,N
85979,R1O8C9XEYHQUIH,2,38,41,N,N
85980,R1WM4Y8G4DPHTL,5,19,21,N,N

In [90]:
# Count for total reviews
index = vine_not_paid_df.index
number_of_rows = len(index)
print(number_of_rows)

85949

In [81]:
# Create new DataFrame for 5 Star Reviews
vine_star_df = vine_df[vine_df['star_rating'] == 5]
vine_star_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1QX6706ZWJ1P5,5,0,0,N,Y
1,R3QWMLJHIW6P37,5,0,0,N,Y
2,R14Z1VR1N0Z9G6,5,1,1,N,Y
5,R2MN0QYCY6EVIV,5,0,0,N,Y
6,R3AN2UJ1D42ZS0,5,0,0,N,Y
...,...,...,...,...,...,...
85974,R1V5LPJM896HE5,5,1,5,N,Y
85976,R1NUYN39WEVD9X,5,96,98,N,N
85977,RD17SQQ58L34O,5,46,48,N,N
85978,R30DX2RCMIKQ90,5,31,34,N,N
85980,R1WM4Y8G4DPHTL,5,19,21,N,N

In [82]:
# Count for 5 star reviews
index = vine_star_df.index
number_of_rows = len(index)
print(number_of_rows)

48897

In [83]:
# Create new DataFrame with 5 star review and paid review
vine_star_paid_df = vine_star_df[vine_star_df['vine']=='Y']
vine_star_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
17581,R3EKQCOSRD87C5,5,0,0,Y,N
19183,RJCBWCZR4NNSZ,5,0,0,Y,N
19478,R1Q51GXKUZ5476,5,0,0,Y,N
19934,R1D1JCHS7J9TYJ,5,0,0,Y,N
19981,RALG7GNUS74W,5,0,0,Y,N
20031,R12TGFMSCAR7P1,5,1,1,Y,N
20141,RNKAFX7EC8ABA,5,0,0,Y,N
20168,R1M8X0LY2XVPXN,5,0,0,Y,N
20221,RE4JGQ8BYAPI1,5,0,0,Y,N
20236,R3RD517WVBE5PD,5,1,1,Y,N
20315,R2UZXZJDPEO1GC,5,0,0,Y,N
20358,R1AD9BIK2CNGPA,5,0,0,Y,N
20468,REJDK05IQDG5S,5,0,0,Y,N
20501,R1A7ZXYQTUGMIP,5,1,1,Y,N
20522,R1WM9DG0TAGAL0,5,0,0,Y,N
20567,R1P46X5Z539I6I,5,0,0,Y,N
20568,R9WPYXXRIQ1U1,5,0,0,Y,N
20577,RWL8UK8HAOQEZ,5,0,0,Y,N
20583,R3BZ0B0Q9GAVUL,5,1,2,Y,N
20605,R23Y7XH5051WQ1,5,0,0,Y,N
20611,R3SYQTHHKZ77BZ,5,0,0,Y,N
20628,R1KICWW47H98MO,5,0,0,Y,N
32351,R3R2RHQWEKX5NL,5,81,89,Y,N
32557,RQ94HI0WM8KIG,5,174,188,Y,N

In [84]:
index = vine_star_paid_df.index
number_of_rows = len(index)
print(number_of_rows)

24

In [85]:
# Create new DataFrame with 5 star review and no paid review
vine_star_no_paid_df = vine_star_df[vine_star_df['vine']=='N']
vine_star_no_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1QX6706ZWJ1P5,5,0,0,N,Y
1,R3QWMLJHIW6P37,5,0,0,N,Y
2,R14Z1VR1N0Z9G6,5,1,1,N,Y
5,R2MN0QYCY6EVIV,5,0,0,N,Y
6,R3AN2UJ1D42ZS0,5,0,0,N,Y
...,...,...,...,...,...,...
85974,R1V5LPJM896HE5,5,1,5,N,Y
85976,R1NUYN39WEVD9X,5,96,98,N,N
85977,RD17SQQ58L34O,5,46,48,N,N
85978,R30DX2RCMIKQ90,5,31,34,N,N
85980,R1WM4Y8G4DPHTL,5,19,21,N,N

In [86]:
index = vine_star_no_paid_df.index
number_of_rows = len(index)
print(number_of_rows)

48873